<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Weitheme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- stylesheets -->
    <link rel="stylesheet" href="assets/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="assets/animate.min.css" />
    <link rel="stylesheet" href="assets/style.css?v1" />
    <!-- scripts -->
    <script src="assets/vendor/angular.pack.js"></script>
    <script src="assets/vendor/mobile-angular-ui.min.js"></script>
    <script src="assets/app.js"></script>
</head>

<body ng-app="weitheme">

    <!-- Navigations -->
    <nav class="navbar navbar-app navbar-absolute-top" role="navigation" ng-controller="nav.ctrl">
        <!-- <pre>{{menus|json}}</pre> -->
        <div class="btn-group pull-right" style="z-index:100;">
            <div class="btn btn-navbar">
                <!-- <a ui-sref="setChannels"><i class="fa fa-plus"></i> <span class="caret"></span></a> -->
                <button class="text-muted btn-nude" active-class="text-primary" toggle="toggle" target="settings" href><i class="fa fa-toggle-down fa-2x"></i></button>
            </div>
        </div>
        
        <div class="scrollable">
            <div class="nav nav-links scrollable-content">
                <a href ui-sref="list({type:menu.type, channel:menu.channel_id, cate: menu.category_id})" ui-sref-active="current" class="menu-item" ng-repeat="menu in menus" ng-if="menu.flavored">{{menu.title}}</a>
            </div>
        </div>
        

    </nav>

    <div class="scrollabe animated" id="settings" active-class="ng-enter fadeInDownBig" inactive-class="ng-leave fadeOutUpBig" toggleable default="active" ng-controller="setting.channels.ctrl">
        <div class="content scrollable-content">
            <div ng-include="'templates/setting.channels.html'"></div>
        </div>
    </div>

    <div class="scrollable">
        <div class="content scrollable-content ui-view-container">
            <!-- <ng-include src="'templates/news.list.html'" ng-controller="news.list.ctrl"></ng-include> -->
            <div ui-view class="no-animated fadeInRight fadeOutLeft" ng-class="{'ui-view':true}"></div>
        </div>
    </div>

    <div overlay="page-loading">
        <h4 class="overlay-title">
            <!-- <div class="spinner">
                <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div> -->
            <i class="fa fa-spin fa-spinner fa-4x"></i>
            <!-- <i class="fa fa-spin fa-circle-o-notch fa-4x"></i> -->
        </h4>
    </div>


</body>

</html>