body {
    background: #eee;
}
.content {
    // margin-top: 70px;
    padding: 70px 15px 30px;
}
#page-loading {
    display: block;
    z-index: 1001;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeOutUpBig;
    -o-animation-name: fadeOutUpBig;
    animation-name: fadeOutUpBig;

    &.overlay-show {
        -webkit-animation-name: none;
        -o-animation-name: none;
        animation-name: none;
    }
    .overlay-dismiss {
        display: none;
    }
    .overlay-background {
        background-color: #fff;
    }
}
.list-panel {
    box-shadow: 1px 1px 5px #ccc;
}
.list-group {
    .thumb {
        width: 40px;
        height: 40px;
        margin-left: 20px;
    }
    .list-item {
        display: block;
        font-size: 120%;
        color: #333;
        // min-height: 40px;
    }
}
.news {
    .list-item {
        min-height: 40px;
    }
}
.books {
    .book-cover {
        height: 100px;
        margin-right: 15px;
    }
    .list-item {
        margin-bottom: 5px;
    }
    .author {
        color: #999;
    }
}
.zhihu {
    .list-item {
        font-weight: bold;
    }
    .question {
        margin-top: 8px;
        color: #777;
    }

    .answer {
        padding: 10px;
        border-top: 1px solid #999;
        background-color: #fff;
        word-wrap: break-word;

        strong {
            display: block;
            font-size: 110%;
            margin-bottom: 10px;
        }
    }
}
.featured {
    position: relative;
    .title {
        width: 100%;
        padding: 10px 8px;
        margin: 0;
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 120%;
        color: #fff;
        text-align: center;
    }
}
.menu-item {
    padding: 10px;
    display: inline-block;
    // float: left;
    font-size: 130%;
    color: #333;
    &.current {
        border-bottom: 3px solid #fb0;
    }
}
.navbar-app {
    min-height: 48px;
    white-space: nowrap;
    .btn {
        line-height: 42px;
    }

    .scrollable {
      padding-right: 70px;
    }
}
.btn-app {
    width: 100%;
    border-color: #ddd;
}
.article {
    .posted, .image, .body, footer {
        margin-bottom: 20px;
    }
    .posted {
        font-size: 85%;
        color: #999;
    }
    .body {
        line-height: 1.8;
        white-space: pre-wrap;
    }
}
.related {
    .heading {
        padding-bottom: 2px;
        margin-bottom: 5px;
        border-bottom: 3px solid #666;
    }
    .list {
        padding-left: 20px;
    }
}


#settings {
  height: 100%;
  background-color: #fff;
  
  position: relative;
  z-index: 100;
}

.btn-nude {
  border: none;
  background: none;
  outline: none;

  padding-top: 6px;
  padding-bottom: 0;
}

.channel-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}

/* Custom animations */

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 50px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 12px;
  height: 12px;
  background-color: #333;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}