<!-- <pre>{{entity|json}}</pre> -->

<div class="node">
	<h4>{{entity.title}}</h4>
	<img ng-src={{entity.image_large}} alt="" />
	<div class="well info">
		<div>作者：{{entity.author}}</div>
		<div>出版社：{{entity.publisher}}</div>
		<div>出版日期：{{entity.publication_date}}</div>
		<div>ISBN: {{entity.isbn}}</div>
	</div>
	<div class="details">
		<strong>编辑推荐</strong><br />
		<div ng-bind-html="entity.editorial_recommendation"></div>
		<hr />
		<strong>内容推荐</strong><br />	
		<div ng-bind-html="entity.content_recommendation"></div>
		<hr />
		<strong>内容预览</strong><br />
		<div ng-bind-html="entity.content_preview"></div>
	</div>
</div>