<div class="panel list-panel">
	<div class="panel-heading">
		<!-- .panel-title -->
		<h4><i class="fa fa-book"></i> 新书推荐</h4>
	</div>
	<!-- <pre>{{list|json}}</pre> -->
	<ul class="list-group books">
	    <li class="list-group-item media animated fadeInUp" ng-repeat="item in list">
	    	<!-- <div class="featured" ng-if="$first">
	    		<a href ui-sref="article({id:item.nid})" >
	    			<img ng-src="http://placehold.it/450x300" alt="" />
	    			<h5 class="title">{{item.title}}</h5>
	    		</a>
	    		
	    	</div> -->
	    	<div>
	    		<img ng-src="{{item.image_thumbnail}}" alt="" class="pull-left media-object book-cover" />
				<a href ui-sref="detail({type: 'book', id:item.nid})" class="list-item">{{item.title}}</a>
				<span class="author">{{item.author}}</span>
	    	</div>
	    </li>
	</ul>
</div>
<button class="btn btn-default btn-app" ng-click="loadMore()" ng-bind-html="loadBtnLabel"></button>