<!-- <pre>{{entity|json}}</pre> -->

<article class="node article">
	<h4>{{entity.title}}</h4>
	<div class="posted">{{entity.publication_date}}</div>
	<div class="image" >
		<img ng-src="{{entity.image}}" alt="" />
	</div>
	<div class="body" ng-bind-html="entity.content">
	</div>

	<footer>
		来源: <a href="{{entity.source_url}}">{{entity.source}}</a>
	</footer>

</article>

<div class="related">
	<div class="heading">相关阅读</div>
	<ul class="list">
		<li>暂无</li>
	</ul>
</div>