<div class="panel list-panel">
	<div class="panel-heading">
		<!-- .panel-title -->
		<h4><i class="fa fa-info-circle"></i> 最新资讯</h4>
	</div>
	<!-- <pre>{{list|json}}</pre> -->
	<ul class="list-group news">
	    <li class="list-group-item media animated fadeInUp" ng-repeat="item in list">
	    	<div class="featured" ng-if="$first">
	    		<a href ui-sref="details({type:'news', id:item.nid})" >
	    			<img ng-src="{{item.image}}" alt="" />
	    			<h5 class="title">{{item.title}}</h5>
	    		</a>
	    		
	    	</div>
	    	<div ng-if="!$first">
    			<img ng-src="{{item.image}}" ng-if="item.image" alt="" class="pull-right media-object thumb" />	    		
				<a href ui-sref="details({type:'news',id:item.nid})" class="list-item">{{item.title}}</a>
	    	</div>
	    </li>
	</ul>
</div>
<button class="btn btn-default btn-app" ng-click="loadMore()" ng-bind-html="loadBtnLabel"></button>