<div class="panel list-panel">
	<div class="panel-heading">
		<!-- .panel-title -->
		<h4><i class="fa fa-question-circle"></i> 知乎精选</h4>
	</div>
	<!-- <pre>{{list|json}}</pre> -->
	<ul class="list-group zhihu">
	    <li class="list-group-item media animated fadeInUp" ng-repeat="item in list">
	    	<!-- <div class="featured" ng-if="$first">
	    		<a href ui-sref="article({id:item.nid})" >
	    			<img ng-src="http://placehold.it/450x300" alt="" />
	    			<h5 class="title">{{item.title}}</h5>
	    		</a>
	    		
	    	</div> -->
	    	<div>
	    		<!-- <img ng-src="{{item.image}}" ng-if="item.image" alt="" class="pull-left media-object book-cover" /> -->
				<a href ui-sref="details({type:'question',id:item.nid})" class="list-item">{{item.title}}</a>
				<div class="question" ng-bind-html="item.question"></div>
	    	</div>
	    </li>
	</ul>
</div>
<button class="btn btn-default btn-app" ng-click="loadMore()" ng-bind-html="loadBtnLabel"></button>