<!-- <pre>{{entity|json}}</pre> -->

<article class="node zhihu">
	<h4>{{entity.title}}</h4>
	<div class="posted">{{entity.author}}</div>
	<div class="question" ng-bind-html="entity.question"></div>
	<div class="answer">
		<strong>精选回答</strong>
		<div ng-bind-html="entity.answer"></div>
	</div>
</article>