<!-- <pre>{{channels|json}}</pre> -->

<div bs-panel title='收藏频道'>
  <button class="btn btn-primary channel-btn" ng-repeat="channel in channels" ng-click="unflavor($index)" ng-if="channel.flavored">{{channel.title}}</button>
</div> 

<div bs-panel title="所有频道">
  <button class="btn channel-btn" ng-repeat="channel in channels" ng-click="flavor($index)" ng-if="!channel.flavored">{{channel.title}}</button>
</div>